{{#if (eq block.entity.type "domain")}}
  <h1 class="p-title">
      {{fa-icon "browser" fixedWidth=true}}  Select a Domain Search to Execute
  </h1>
  <table class="p-table" style="margin-top:5px;">
    <tbody>
      <tr><td><a class="p-link" href="https://www.abuseipdb.com/check/{{details}}">{{fa-icon "globe"}} AbuseIPDB Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://otx.alienvault.com/indicator/domain/{{details}}">{{fa-icon "globe"}} Alienvault OTX Domain Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://censys.io/certificates?q={{details}}">{{fa-icon "globe"}} Censys Certificate Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://censys.io/domain?q={{details}}">{{fa-icon "globe"}} Censys Domain Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://talosintelligence.com/reputation_center/lookup?search={{details}}">{{fa-icon "globe"}} Cisco Talos Reputation Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="http://whois.domaintools.com/{{details}}">{{fa-icon "globe"}} DomainTools Whois Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="http://www.fortiguard.com/webfilter?q={{details}}">{{fa-icon "globe"}} FortiGuard Category Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://github.com/search?q={{details}}&type=code">{{fa-icon "globe"}} GitHub Code Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://transparencyreport.google.com/safe-browsing/search?url={{details}}">{{fa-icon "globe"}} Google Safe Browsing Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q={{details}}">{{fa-icon "globe"}} Google Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://host.io/{{details}}">{{fa-icon "globe"}} host.io Domain Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://exchange.xforce.ibmcloud.com/url/{{details}}">{{fa-icon "globe"}} IBM X-Force-Exchange Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="http://www.isithacked.com/check/{{details}}">{{fa-icon "globe"}} Is it Hacked? Domain Check {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.joesandbox.com/search?q={{details}}">{{fa-icon "globe"}} Joe Sandbox Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://opentip.kaspersky.com/{{details}}">{{fa-icon "globe"}} Kaspersky Threat Intel Portal Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="http://www.malwaredomainlist.com/mdl.php?search={{details}}">{{fa-icon "globe"}} Malware Domain List Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q=site%3Amalware-traffic-analysis.net+{{details}}">{{fa-icon "globe"}} Malware-Traffic-Analysis.NET Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://mxtoolbox.com/SuperTool.aspx?action=blacklist%3a{{details}}">{{fa-icon "globe"}} MX Toolbox Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://community.riskiq.com/research?query={{details}}">{{fa-icon "globe"}} RiskIQ Community Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.shodan.io/search?query={{details}}">{{fa-icon "globe"}} Shodan Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://sitecheck.sucuri.net/results/{{details}}">{{fa-icon "globe"}} Sucuri SiteCheck {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://sitereview.bluecoat.com/#/lookup-result/{{details}}">{{fa-icon "globe"}} Symantec/BlueCoat WebPulse Site Review Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.threatminer.org/domain.php?q={{details}}">{{fa-icon "globe"}} ThreatMiner Domain Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://twitter.com/search?q={{details}}">{{fa-icon "globe"}} Twitter Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://urlhaus.abuse.ch/browse.php?search={{details}}">{{fa-icon "globe"}} URLhaus Database Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://urlscan.io/domain/{{details}}">{{fa-icon "globe"}} URLScan.io Domain Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.urlvoid.com/scan/{{details}}">{{fa-icon "globe"}} URLVoid Domain Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.virustotal.com/gui/search/{{details}}">{{fa-icon "globe"}} VirusTotal Domain Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
    </tbody>
  </table>
{{/if}}
{{#if entityIsHash}}
  <h1 class="p-title">
      {{fa-icon "hashtag" fixedWidth=true}}  Select a Hash Search to Execute
  </h1>
  <table class="p-table" style="margin-top:5px;">
    <tbody>
      <tr><td><a class="p-link" href="https://otx.alienvault.com/indicator/file/{{details}}">{{fa-icon "globe"}} Alienvault OTX Hash Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://app.any.run/submissions/#filehash:{{details}}">{{fa-icon "globe"}} ANY.RUN Hash Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://github.com/search?q={{details}}&type=code">{{fa-icon "globe"}} GitHub Code Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q={{details}}">{{fa-icon "globe"}} Google Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://api.hashdd.com/v1/knownlevel/{{details}}">{{fa-icon "globe"}} HashDD Known Level Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.hybrid-analysis.com/search?query={{details}}">{{fa-icon "globe"}} Hybrid-Analysis Hash Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.joesandbox.com/search?q={{details}}">{{fa-icon "globe"}} Joe Sandbox Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://opentip.kaspersky.com/{{details}}">{{fa-icon "globe"}} Kaspersky Threat Intel Portal Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q=site%3Amalware-traffic-analysis.net+{{details}}">{{fa-icon "globe"}} Malware-Traffic-Analysis.NET Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://polyswarm.network/scan/results/file/{{details}}">{{fa-icon "globe"}} PolySwarm Hash Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://community.riskiq.com/research?query={{details}}">{{fa-icon "globe"}} RiskIQ Community Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.threatminer.org/sample.php?q={{details}}">{{fa-icon "globe"}} ThreatMiner Hash Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://twitter.com/search?q={{details}}">{{fa-icon "globe"}} Twitter Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://urlhaus.abuse.ch/browse.php?search={{details}}">{{fa-icon "globe"}} URLhaus Database Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://urlscan.io/search/#hash:{{details}}">{{fa-icon "globe"}} URLScan.io Hash Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.virustotal.com/gui/search/{{details}}">{{fa-icon "globe"}} VirusTotal Hash Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
    </tbody>
  </table>
{{/if}}
{{#if (eq block.entity.type "IPv4")}}
  <h1 class="p-title">
      {{fa-icon "terminal" fixedWidth=true}}  Select a IP Search to Execute
  </h1>
  <table class="p-table" style="margin-top:5px;">
    <tbody>
      <tr><td><a class="p-link" href="https://www.abuseipdb.com/check/{{details}}">{{fa-icon "globe"}} AbuseIPDB Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://otx.alienvault.com/indicator/ip/{{details}}">{{fa-icon "globe"}} Alienvault OTX IP Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://censys.io/ipv4/{{details}}">{{fa-icon "globe"}} Censys IP Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://talosintelligence.com/reputation_center/lookup?search={{details}}">{{fa-icon "globe"}} Cisco Talos Reputation Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="http://whois.domaintools.com/{{details}}">{{fa-icon "globe"}} DomainTools Whois Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="http://www.fortiguard.com/webfilter?q={{details}}">{{fa-icon "globe"}} FortiGuard Category Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://github.com/search?q={{details}}&type=code">{{fa-icon "globe"}} GitHub Code Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://transparencyreport.google.com/safe-browsing/search?url={{details}}">{{fa-icon "globe"}} Google Safe Browsing Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q={{details}}">{{fa-icon "globe"}} Google Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://viz.greynoise.io/ip/{{details}}">{{fa-icon "globe"}} Greynoise Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://exchange.xforce.ibmcloud.com/ip/{{details}}">{{fa-icon "globe"}} IBM X-Force-Exchange Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://ipinfo.io/{{details}}">{{fa-icon "globe"}} ipinfo.io IP Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.joesandbox.com/search?q={{details}}">{{fa-icon "globe"}} Joe Sandbox Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://opentip.kaspersky.com/{{details}}">{{fa-icon "globe"}} Kaspersky Threat Intel Portal Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="http://www.malwaredomainlist.com/mdl.php?search={{details}}">{{fa-icon "globe"}} Malware Domain List Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q=site%3Amalware-traffic-analysis.net+{{details}}">{{fa-icon "globe"}} Malware-Traffic-Analysis.NET Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://mxtoolbox.com/SuperTool.aspx?action=blacklist%3a{{details}}">{{fa-icon "globe"}} MX Toolbox Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://safeweb.norton.com/report/show?url={{details}}">{{fa-icon "globe"}} Norton Safe Web Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://community.riskiq.com/research?query={{details}}">{{fa-icon "globe"}} RiskIQ Community Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.shodan.io/host/{{details}}">{{fa-icon "globe"}} Shodan Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://sitecheck.sucuri.net/results/{{details}}">{{fa-icon "globe"}} Sucuri SiteCheck {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.threatminer.org/host.php?q={{details}}">{{fa-icon "globe"}} ThreatMiner IP Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://twitter.com/search?q={{details}}">{{fa-icon "globe"}} Twitter Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://urlhaus.abuse.ch/browse.php?search={{details}}">{{fa-icon "globe"}} URLhaus Database Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://urlscan.io/ip/{{details}}">{{fa-icon "globe"}} URLScan.io IP Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.virustotal.com/gui/search/{{details}}">{{fa-icon "globe"}} VirusTotal IP Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.whatismyip.com/{{details}}">{{fa-icon "globe"}} WhatIsMyIP.com IP Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
    </tbody>
  </table>
{{/if}}
{{#if (eq block.entity.type "cve")}}
  <h1 class="p-title">
      {{fa-icon "bug" fixedWidth=true}}  Select a CVE Search to Execute
  </h1>
  <table class="p-table" style="margin-top:5px;">
    <tbody>
      <tr><td><a class="p-link" href="https://otx.alienvault.com/indicator/cve/{{details}}">{{fa-icon "globe"}} Alienvault OTX CVE Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://attackerkb.com/search?q={{details}}">{{fa-icon "globe"}} AttackerKB Topic Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://cve.circl.lu/cve/{{details}}">{{fa-icon "globe"}} CIRCL CVE Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q=site%3Aexploit-db.com+{{details}}">{{fa-icon "globe"}} Exploit-DB.com Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://github.com/search?q={{details}}&type=code">{{fa-icon "globe"}} GitHub Code Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q={{details}}">{{fa-icon "globe"}} Google Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://viz.greynoise.io/query/?gnql=cve%3A{{details}}">{{fa-icon "globe"}} Greynoise Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://exchange.xforce.ibmcloud.com/vulnerabilities/{{details}}">{{fa-icon "globe"}} IBM X-Force-Exchange Lookup {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q=site%3Amalware-traffic-analysis.net+{{details}}">{{fa-icon "globe"}} Malware-Traffic-Analysis.NET Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://portal.msrc.microsoft.com/en-US/security-guidance/advisory/{{details}}">{{fa-icon "globe"}} Microsoft Advisory Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{details}}">{{fa-icon "globe"}} MITRE CVE Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://nvd.nist.gov/vuln/detail/{{block.entity.value}}">{{fa-icon "globe"}} NIST CVE Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.rapid7.com/db/?q={{details}}">{{fa-icon "globe"}} Rapid7 Vulnerability and Exploit DB {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://exploits.shodan.io/?q={{details}}">{{fa-icon "globe"}} Shodan Exploit Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://sploitus.com/?query={{details}}">{{fa-icon "globe"}} Sploitus Exploit Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.tenable.com/cve/{{details}}">{{fa-icon "globe"}} Tenable CVE Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://twitter.com/search?q={{details}}">{{fa-icon "globe"}} Twitter Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://vulmon.com/vulnerabilitydetails?qid={{details}}">{{fa-icon "globe"}} Vulmon Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
    </tbody>
  </table>
{{/if}}
{{#if (eq block.entity.type "email")}}
  <h1 class="p-title">
      {{fa-icon "envelope" fixedWidth=true}}  Select an Email Search to Execute
  </h1>
  <table class="p-table" style="margin-top:5px;">
    <tbody>
      <tr><td><a class="p-link" href="https://otx.alienvault.com/indicator/email/{{details}}">{{fa-icon "globe"}} Alienvault OTX Email Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://github.com/search?q={{details}}&type=code">{{fa-icon "globe"}} GitHub Code Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q={{details}}">{{fa-icon "globe"}} Google Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q=site%3Amalware-traffic-analysis.net+{{details}}">{{fa-icon "globe"}} Malware-Traffic-Analysis.NET Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://community.riskiq.com/research?query={{details}}">{{fa-icon "globe"}} RiskIQ Community Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://twitter.com/search?q={{details}}">{{fa-icon "globe"}} Twitter Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
    </tbody>
  </table>
{{/if}}
{{#if isMsftkbEntity}}
  <h1 class="p-title">
      {{fa-icon "browser" fixedWidth=true}}  Select a KB Search to Execute
  </h1>
  <table class="p-table" style="margin-top:5px;">
    <tbody>
      <tr><td><a class="p-link" href="https://github.com/search?q={{details}}&type=code">{{fa-icon "globe"}} GitHub Code Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q={{details}}">{{fa-icon "globe"}} Google Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.catalog.update.microsoft.com/Search.aspx?q={{details}}">{{fa-icon "globe"}} Microsoft Update Catalog (KB) Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://twitter.com/search?q={{details}}">{{fa-icon "globe"}} Twitter Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
    </tbody>
  </table>
{{/if}}
{{#if isAdobeEntity}}
  <h1 class="p-title">
      {{fa-icon "browser" fixedWidth=true}}  Select an Adobe Search to Execute
  </h1>
  <table class="p-table" style="margin-top:5px;">
    <tbody>
      <tr><td><a class="p-link" href="https://www.google.com/search?q=site%3Ahelpx.adobe.com+{{details}}">{{fa-icon "globe"}} Adobe Security Bulletin Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://github.com/search?q={{details}}&type=code">{{fa-icon "globe"}} GitHub Code Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://www.google.com/search?q={{details}}">{{fa-icon "globe"}} Google Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
      <tr><td><a class="p-link" href="https://twitter.com/search?q={{details}}">{{fa-icon "globe"}} Twitter Search {{fa-icon "external-link-square" class="external-link-icon"}}</a></td></tr>
    </tbody>
  </table>
{{/if}}
